body{
    margin: 0;
    padding: 0;
    background-color: wheat;
}

header{
    height: 60px;
    width: 100%;
    background-color: rgb(255, 201, 101);
    display: flex;
    justify-content: start;
    align-items: center;
}

header > h1 {
    margin: 0;
    padding: 0;
    padding-left: 30px;
}

#inventario{
    width: 175px;
    height: 90px;
    margin-top: 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

#inventario .itemSection{
    width: 100%;
    background-color: rgb(255, 187, 0);
    box-shadow: 5px 5px 1px rgb(255, 115, 0);
    display: flex;
}

#inventario .itemSection .sectionCell{
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionCellImg{
    height: 80%;
    padding-left: 10px;
}
